*{
    color: #ffffff;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
h2{
    display: none;
}
body{
    margin: 0;
}
.home{ 
    background:linear-gradient(to right, rgb(137 92 69), rgb(0, 0, 0));
    width: 100%;
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
}
.home::after{
    content: " ";
    background-color: rgb(137 92 69);
    width: 100%;
    height: 100%;
    position: absolute;
    clip-path: circle(50% at right 80%);
    animation-name: bigcircle;
    animation-duration: 20s;
    animation-iteration-count: infinite;
}
@keyframes bigcircle{
    0%{
        background-color: rgb(137 92 69);
    }
    50%{
        background-color: rgb(0, 0, 0);        
        clip-path: circle(50% at right 90%);

    }
    100%{
        background-color: rgb(137 92 69);
    }
}
.home::before{
    content: " ";
    background-color: rgb(137 92 69);
    width: 100%;
    height: 100%;
    position: absolute;
    clip-path: circle(20% at left 90%);
    animation-name: midcircle;
    animation-duration: 25s;
    animation-iteration-count: infinite;
}
@keyframes midcircle{
    0%{
        background-color: rgb(137 92 69);
    }
    50%{
        background-color: rgb(0, 0, 0);
        clip-path: circle(20% at left 95%);
    }
    100%{
        background-color: rgb(137 92 69);
    }
}
.circle1{
    background-color: rgb(79, 53, 40);
    width: 90px;
    height: 90px;
    position: absolute;
    bottom: 500px;
    right: 88%;
    border-radius: 50%;
    animation-name: circle1;
    animation-duration: 17s;
    animation-iteration-count: infinite ;
}
@keyframes circle1{
    0%{
        bottom: 500px;
    }
    50%{
        bottom: 300px;
    }
    100%{
        bottom: 500px;
    }
}
.circle3{
    background-color: rgb(79, 53, 40);
    width: 50px;
    height: 50px;
    position: absolute;
    bottom: 200px;
    right: 30%;
    border-radius: 50%;
    animation-name: circle3;
    animation-duration: 20s;
    animation-iteration-count: infinite ;
}
@keyframes circle3{
    0%{
        bottom: 700px;
    }
    50%{
        bottom: 500px;
    }
    100%{
        bottom: 700px;
    }
}
.circle2{
    background-color: rgb(60, 40, 31);
    width: 60px;
    height: 60px;
    position: absolute;
    bottom: 300px;
    right: 60%;
    border-radius: 50%;
    animation-name: circle2;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}
@keyframes circle2{
    0%{
        bottom: 300px;
    }
    50%{
        bottom: 200px;
    }
    100%{
        bottom: 300px;
    }
}


.con{
    background-color: rgba(87, 58, 44, 0.262);
    backdrop-filter: blur(5px);
    height: 85vh;
    width: 80%;
    border-radius: 30px;
    z-index: 2;
    
}
.img2{
    display: none;
}
header{
    padding: 20px 120px;
    margin-top:20px ;
    display: flex;
    justify-content: space-between;
    align-content: end;
    align-items: end;
}
header p{
    font-size: 50px;
    font-weight: 1000;
    margin: 0;
    color: burlywood;
}
.main{
    padding: 0px 40px 0px 120px;
    height: 80%;    

}


ul{
    padding: 0;
    display: flex;
    gap: 30px;
    justify-content: space-between;
    list-style: none;
    margin: 0px;
    margin-bottom: 7px;
    font-size:20px;
    font-variant: small-caps;
}

a{
    text-decoration-line: none;
}
h1{
    margin: 0;
    color: burlywood;
    text-shadow: 8px 8px 10px rgba(0, 0, 0, 0.662);
    
}
.par{
    height: 100%;
    margin-bottom: 50px;
    display: grid;
    grid-template-areas: 
    "main img"
    "div img";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr auto;
}
a:hover{
    color: burlywood;
}
.par div{
    font-size:clamp(10px, 2vw, 25px) ;
    grid-area: div;
    margin-bottom: 50px;
}
main{
    font-size:clamp(16px, 2vw, 30px);
    grid-area: main;
    align-self: end;
}
.img1{

    transition: 2s;
    filter: drop-shadow(0px 10px 10px black);
    clip-path: inset(15px 75px -8px 70px);
    grid-area: img;
    max-width: 100%;
    align-self: center;
}
.img1:hover{
    translate: 0px 20px;
    filter: drop-shadow(0px 10px 10px burlywood)
}

@media (max-width:1000px){
    header{
        padding:20px 50px ;
    }
    .main{
        padding: 0px 40px 0px 40px;

    }
    ul{
        z-index: 2;
    }
    .par{
        grid-template-areas: 
        "main img"
        "div div";
        grid-template-columns: 1fr 2fr;
        grid-template-rows: 1fr auto;  
        
    }
    .par div{
        font-size:20px;
        text-align: center;
        z-index: 2;
    }
    main{
        align-self: end;
        margin-bottom: 50px;
        font-size: clamp(20px, 2vw, 100px);
        z-index: 2;
    }
    .img1{
        max-width: 100%;
        clip-path: inset(15px 60px -8px 60px);
        justify-self: end;
        z-index: 2;
    }
    .con{
        overflow: hidden;
    }
    .img2{
        display: inline;
        position: absolute;
        max-width: 150%;
        z-index: 1;
        opacity: 20%;
        right: 60px;
    }

}
    @media (max-width: 800px){
        header{
            flex-flow: column;
            justify-content: left;
            align-content: start;
            align-items: start;
            gap: 10px;
        }
        ul{
            z-index: 2;
            gap: 10px;
            
        }
        .main{
            text-align: center;
        }
        h1{
            display: none;
        }
        main{
            margin: 0;
        }
        h2{
            display: inline;
            margin: 0;
            color: burlywood;
            text-shadow: 8px 8px 10px rgba(0, 0, 0, 0.662);
            font-size: 25px;

        }
        .par{
            grid-template-areas: 
            "main"
            "img"
            "div";
            grid-template-rows:auto 2fr 1fr;
            grid-template-columns: auto;
        }
        .par div p{
            margin-top: 0;
        }
        .con{
            min-height: 100vh;
        }
        .home::after{
            display: none;
        }
        .home::before{
            display: none;
        }

        body::after{
            content: " ";
            background-color: rgb(137 92 69);
            width: 100%;
            height: 100%;
            position: absolute;
            clip-path: circle(50% at right 80%);
            animation-name: bigcircle1;
            animation-duration: 20s;
            animation-iteration-count: infinite;
        }
        @keyframes bigcircle1{
            0%{
                background-color: rgb(137 92 69);
            }
            50%{
                background-color: rgb(0, 0, 0);        
                clip-path: circle(50% at right 90%);

            }
            100%{
                background-color: rgb(137 92 69);
            }
        }
        body::before{
            content: " ";
            background-color: rgb(137 92 69);
            width: 100%;
            height: 100%;
            position: absolute;
            clip-path: circle(20% at left 90%);
            animation-name: midcircle2;
            animation-duration: 25s;
            animation-iteration-count: infinite;
        }
        @keyframes midcircle2{
            0%{
                background-color: rgb(137 92 69);
            }
            50%{
                background-color: rgb(0, 0, 0);
                clip-path: circle(20% at left 95%);
            }
            100%{
                background-color: rgb(137 92 69);
            }
        }

        .img1{
            transition: none;
            max-width: 80%;
            justify-self:center;
            align-self: center;
            clip-path:none;
            animation-name: img1;
            animation-duration: 5s;
            animation-iteration-count: infinite;
        }
        .img1:hover{
            translate:none;
            filter: drop-shadow(0px 10px 10px rgb(0, 0, 0))
        }
        @keyframes img1 {
            0%{
                translate:0px 0px
            }
            50% {
                translate:0px 20px;
                filter: drop-shadow(0px 10px 10px burlywood)

            }
            100%{
                translate: 0px 0px;
            }
        }
        .img2{
            translate: 50px 200px;
            opacity: 10%;
        }
        
    }
